{% extends "layout.html" %}
{% block body %}
<h2 class="col-md-offset-1">Welcome</h2>
<div class="row">
    {% if session.email %}
        <div class="col-md-offset-1 col-md-7">
            <h3>Last projects</h3>
            {% include "partials/display_projects.html" %}
        </div>
        <div class="col-md-4">
            <h3>Users</h3>
            {% include "partials/display_users.html" %}
            <h3>Used Languages</h3>
            {% include "partials/display_languages.html" %}
        </div>
    {% else %}
        <div class="col-md-offset-1 col-md-7">
            <h3>Neo4j together with Flask</h3>
            <p>This is a simple application which works with a graph database.</p>
            <p>Simple user management with register, login and logout.</p>
            <p>Sharing projects and tag them for others.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
