{% extends "layout.html" %}
{% block body %}
<h2 class="col-md-offset-1">{{ username }}'s profile</h2>
{% if session.email %}
<div class="row">
    <div class="col-md-offset-1 col-md-7">
        <h3>Languages</h3>
        {% include "partials/display_languages.html" %}
        {% if session.username == username %}
            <h3>Users similar to you:</h3>
            <h4 class="bg-success">Tags</h4>
            {% for user in similar %}
                <p>
                    <a href="{{ url_for('profile', username=user.similar_user) }}">{{ user.similar_user }}</a>
                     - also tags about <i>{{ ', '.join(user.tags) }}</i>
                </p>
            {% else %}
                <p>There aren't any users who've set the same tags as you!</p>
            {% endfor %}
            <h4 class="bg-success">Languages</h4>
            {% for user in similar_lang %}
                <p>
                    <a href="{{ url_for('profile', username=user.similar_user) }}">{{ user.similar_user }}</a>
                     - also use <i>{{ ', '.join(user.langs) }}</i>
                </p>
            {% else %}
                <p>There aren't any users who've use the same languages as you!</p>
            {% endfor %}
        {% else %}
            <br><br>
            <!--<div>{{ username }} has liked {{ common.likes }} of your projects.</div>-->
            <div>
                {% if common.tags %}
                    Also tags about <i>{{ ', '.join(common.tags) }}.</i>
                {% else %}
                    Hasn't blogged about any of the same tags.
                {% endif %}
            </div>
        {% endif %}
        <h3>Projects</h3>
        {% include "partials/display_projects.html" %}
    </div>
    <div class="col-md-4">
        {% if session.username == username %}

            <a class="btn btn-default" role="button" data-toggle="collapse" href="#shareProject" aria-expanded="false" aria-controls="collapseExample">
                Share a project
            </a>
            {% if all_languages|length > 0 %}
                <a class="btn btn-default" role="button" data-toggle="collapse" href="#addLanguage" aria-expanded="false" aria-controls="collapseExample">
                    Add language
                </a>
            {% endif %}
            <br><br>
            <div class="collapse" id="shareProject">
                <div class="well">
                    <form action="{{ url_for('add_project') }}" method=post>
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Title/Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="tags" placeholder="Tag,Tag" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="repository" placeholder="Homepage/Repository URL" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn btn-success"><i class="fa fa-share-alt"></i> Share</button>
                        </div>
                    </form>
                </div>
            </div>
            {% if all_languages|length > 0 %}
                <div class="collapse" id="addLanguage">
                    <div class="well">
                        <form action="{{ url_for('add_language') }}" method=post>
                            <div class="form-group">
                                <select class="form-control" name="language">
                                    <option>---</option>
                                    {% for language in all_languages %}
                                        <option value="{{ language.name }}">{{ language.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn btn-success"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}
